<Limit GET POST PUT DELETE HEAD OPTIONS>
    Order allow,deny
    # You might want something a little more secure here, this is a dev setup
    Allow from all
</Limit>
<LimitExcept POST PUT DELETE HEAD OPTIONS>
    Order deny,allow
    Deny from all
</LimitExcept>

<IfModule mod_rewrite.c>
    RewriteEngine On
    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>